*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #ccc;
}

/*
    Boot CSS
*/
.center{
    max-width: 2100;
    margin: 0 auto;
    padding: 0 2%;
}

.flex{
    display: flex;
}

.align-flex-center{   /* centralizes everything horizontally and vertically */
    justify-content:center;
    align-items: center;
}

.align-flex-end{  /*  */
    justify-content: flex-end;
    align-items: flex-end;
}

/* END */

header{
    background-color: #131921;
    color: white;
    height: 70px;
}

.logo img{
    height: 48px;
    width: 150px;
    padding: 2px 5px;
}

.logo:hover{
    outline: 2px solid white;
    border-radius: 2px;
}

.input-search{
    padding:0 10px;
    width: 70%;
    display: flex;
}

.input-search form{
    display: flex;
    width: 100%;
}

.input-search input[type=text]{
    width: calc(100% - 20px);
    height:40px;
}

.input-search button{
    width: 40px;
    border:0;
    height: 40px;
    display: flexbox;
    background-color: #febd68;
}

.text-info-header{
    height:50px;
    font-size:12px;
    margin:10px 0;
    padding:5px 20px;
    cursor: pointer;
}

.text-info-header p{
    white-space: nowrap;
    padding:0 2px;
}

.text-info-header:hover{
    outline: 2px solid white;
    border-radius: 2px;
}

/* main Banner */

.vitrine{
    min-height: 600px;
    width: 100%;
    background-image: url('../assets/banner.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.box-vitrine{
    position: relative;
    top:15px;
    width: 22%;
    background-color: white;
    padding: 8px 12px;
}

.box-vitrine a{
    color:#069;
    font-size: 13px;
}

.box-vitrine img{
    width: 100%;
}